<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中国雅虎</title>
    <link rel="stylesheet" href="../static/ya.css">
</head>
<body>
    <form action="" method="post" align="center">
        <table>
            <caption><img src="../static/images/ya.png" alt="" width="200" height="100" srcset=""></caption>
            <tr>
                <th>创建您的雅虎邮箱</th>
            </tr>
            <tr>
                <td>选择您的雅虎邮箱：</td>
                <td>
                    <input type="text">@
                    <select name="" id="">
                        <option value="1" selected>yahoo.cn</option>
                        <option value="2">qq.com</option>
                        <option value="3">163.com</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>密码：</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td>请再次输入密码：</td>
                <td><input type="password"></td>
            </tr>
            <tr>
                <td>姓名：</td></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>性别：</td>
                <td>
                    <label for="man"><input type="radio" id="man" name="gender">男</label>
                    <label for="woman"><input type="radio" id="woman" name="gender">女</label>
                </td>
            </tr>
            <tr>
                <th>密码保护信息</th>
            </tr>
            <tr>
                <td>密码保护问题：</td>
                <td>
                    <select name="" id="protect">
                        <option value="1" selected>您最好的朋友</option>
                        <option value="2">您父亲的生日</option>
                        <option value="3">您母亲的生日</option>
                        <option value="4">您母校的名字</option>
                        <option value="5">您最难忘的一件事</option>
                        <option value="5">自定义：</option>
                    </select>
            </tr>
            <tr>
                <td>您问题的答案：</td></td>
                <td><input type="text"></td>
            </tr>
            <tr>
                <td>备用邮箱：</td>
                <td><input type="email"></td>
            </tr>
            <tr>
                <td>请选择以下直邮类型（可多选）：</td>
                <td>
                    <label for="travel"><input type="checkbox" name="" id="travel">旅游</label>
                    <label for="rest"><input type="checkbox" name="" id="rest">休闲</label>
                    <label for="enconomy"><input type="checkbox" name="" id="enconomy">财经</label>
                    <label for="car"><input type="checkbox" name="" id="car">汽车</label>
                    <label for="music"><input type="checkbox" name="" id="music">音乐</label>
                </td>
            </tr>
            <tr>
                <th><a href="">中国雅虎服务条款</a></th>
            </tr>
            
            <tr>
                <td><textarea name="" id="" cols="250px" rows="6px" readonly>我已经阅读并同意中国雅虎的服务条款和隐私权政策。我对帐户的使用及中国雅虎对帐户信息的披露将接变中国雅虎服务条款的约束并遵守中华人民共和国法律。
                </textarea>
            </td>
                
            </tr>
            <tr>
                <td class="item" colspan="2">
                    <textarea name="" id="" cols="530px" rows="80px" readonly>1．接受条款      欢迎光临中国雅虎。    中国雅虎将根据以下服务条款为您提供服务。...
                    
                    
                    </textarea>
                </td>
            </tr>
            <tr>
                <td class="button"><button type="submit">确认注册</button></td>
                <td class="button"><button type="reset">重新填写</button></td>
            </tr>
        </table>
    </form>
</body>
</html>