<li class="page1"><a href="#" class="head">应用</a><span class="column">|</span></li>轰炸763764765766767768769770771772773774775776777778779780781782783784785786787788789790791792793794795796797798799800801802803804805806807808
<ul class="page">轰炸699700701702703704705706707708709710711712713714715716717718719720721722723724725726727728729730731732733734735736737738739740741742743744745746747748749750751752753754755756757758759760761762
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{ % block  title % }{ % endblock % }</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/base.css">
    <script src="../static/js/base.js"></script>
</head>
<body>
    <div id="box">
        <div id="nav">
            <ul class="page">
                <li class="page1" id="logo"><a href="#" class="head"><img src="../static/images/logo.png" alt="" srcset=""></a></li>
            </ul>
                <li class="page1"><a href="./HomePge.html" class="head">首页</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">我的MV</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">酷悦单</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">悦榜Top10</span></span></a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">饭团</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">商城</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">资讯</a><span class="column">|</span></li>
                <li class="page1"><a href="#" class="head">点播节目</a></li>
            </ul>
            
            <ul class="page">
                <li class="page1">
                    <input type="text" value="" placeholder="请输入关键词进行搜索" id="search">    
                </li>
            </ul>
            <ul class="page">
                <li class="page1 page2"><a href="#" class="head">注册</a></li>
                <li class="page1 page2"><a href="#" class="head">VIP会员登录</a><span class="column">|</span></li>
            </ul>
        </div>
        <div id="box1"></div>
    </div>
</body>
</html>